* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
}

canvas-div{
  display: flex;
}

canvas {
  opacity: 0.4;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#draw2{
   position: fixed;
  left: 10;
  top: 10;
  width: 100%;
  height: 100%;
}
